// TODO

.logo {
  padding: 5rem 0 4rem;
}

.postContainer {
  & + & {
    margin-top: 3rem;
  }

  &:last-of-type {
    margin-bottom: 4rem;
  }
  > p {
    margin: 0.5rem 0 1.5rem;
    font-size: 1.125rem;
  }
}

.flexInfo {
  display: flex;
  gap: 1.5rem;

  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    p, time {
      font-size: 0.875rem;
    }

    svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }
}

.loadMore {
  color: var(--highlight);
  font: 1.125rem 600;
  line-height: 1.375rem;
  background: none;
  border: none;
}
